
<p>
    <a class="btn btn-primary" routerLink="/admin/products/new">New Product</a>
</p>
<input type="text" (keyup)="filterList(query.value)" class="form-control" #query placeholder="search product...">

<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th sortable="title" (click)="sortTable('title')">Title</th>
                <th sortable="price" (click)="sortTable('price')">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of filteredProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{ p.title }}</td>
                <td>{{ p.price }}</td>
                <td>
                    <a [routerLink]="['/admin/products/', p.key]">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between p-2">
    <select #items_per_page="ngModel" [(ngModel)]="pageSize" name="items_per_page" class="custom-select" style="width: auto">
        <option [value]="5">5 items per page</option>
        <option [value]="10">10 items per page</option>
        <option [value]="15">15 items per page</option>
        <option [value]="20">20 items per page</option>
    </select>
    
    <ngb-pagination  [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
</div>


