
<p>
    <a class="btn btn-primary" routerLink="/admin/products/new">New Product</a>
</p>
<input type="text" (keyup)="filterList(query.value)" class="form-control" #query placeholder="search product...">

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.value.title }}</td>
            <td>{{ p.value.price }}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

